
    iframe {
        width: 100%;
        height:250px;
        margin-bottom: 30px;

        @include if-tablet-portrait {
            height: 350px;
            margin-bottom: 40px;
         }

         @include if-tablet-landscape {
            height: 400px;
            margin-bottom: 40px;
         }
    }

.pagina-contacto{

    .contacto-info{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;

        @include if-tablet-portrait {
            padding-left: 35px;
         }

        h2{
            font-size: $font-size-h3;
            color: $purple-blue;
            margin-bottom: 20px;
            text-align: center;

            @include if-tablet-portrait {
                font-size: $font-size-h1;
                margin-bottom: 18px;
             }
        }

        p {
            line-height: 1.5em;
            padding: 0px 30px 10px 20px;

            @include if-mobile-landscape {
                padding: 0px 40px 10px 30px;;
             }

            @include if-tablet-portrait {
                font-size: $font-size-body - 2;
                padding: 10px 50px 10px 55px;
             }

             @include if-tablet-landscape {
                font-size: $font-size-body;
                padding: 10px 70px 10px 65px;
             }
        }
    }
    
    .formulario{
        box-sizing: border-box;
        padding: 10px 40px 20px 40px;

        @include if-mobile-landscape {
            padding: 10px 40px 20px 50px;
         }

        @include if-tablet-portrait {
            padding: 10px 60px 20px 80px;
         }
         @include if-tablet-landscape {
            padding: 10px 80px 20px 100px;
         }

        form{
            box-sizing: border-box;
            display: inline-block;
            width: 100%;

            .form-fila-1 {
                width: 100%;
                display: flex;
                flex-direction: row;

                @include if-tablet-landscape{
                    flex-direction: column;
                }

                .form{
                    margin-bottom: 15px;
                    font-family: $main-font-family;
                      }
                }
                
                .name {
                    width: 48%;
                    margin-right: 10px;

                    @include if-tablet-landscape{
                        width: 100%;
                    }
                    .form-input-name{
                        width: 95%;
                        @include if-tablet-portrait{
                            height: 30px;
                        }
                    }
                }

                .gmail {
                    width: 48%;
                    
                    @include if-tablet-landscape{
                        width: 100%;
                    }

                    .form-input-mail{
                        width: 95%;
                        @include if-tablet-portrait{
                            height: 30px;
                        }
                    }
                }
            }

            .form-fila-2{
                width: 100%;
                font-family: $main-font-family;

                @include if-tablet-portrait{
                    margin-top: 15px;
                }
                textarea{
                    width: 95%;
                    height: 70px;
                    margin-bottom: 15px;
                    
                @include if-mobile-landscape{
                  height: 100px;
                }

                @include if-tablet-landscape{
                    height: 140px;
                  }
                }
            }

            img{
                width: 20px;
                @include if-tablet-portrait{
                    width: 30px;
                }
            }

            
            .input-button{
                background-color: white;
                color: $text-grey;
                font-family: $main-font-family;
                font-size: $font-size-footer;
                padding: 5px;
                margin-bottom: 10px;
                &:focus {
                    outline-color: $eggshell;
                }
                &:hover {
                    background-color: $dark-blue;
                    color: white;
                }

                @include if-tablet-landscape {
                    font-size: $font-size-body;
                }
            }
        }
 
    }


.input-name{
    padding-bottom: 5px;
    padding-left: 3px;
    @include if-tablet-portrait {
        font-size: $font-size-footer;
    }

    @include if-tablet-landscape {
        font-size: $font-size-body;
    }
    
}

.form-icon {
    padding-left: 3px;
}