/*Hoja de estilo para la página de contacto. Contenido anidado.*/ 

/* Ajustes para la ventana que contiene el mapa. No se coloca anidado porque se encuentra fuera del div
general de la página */
iframe {
    width: 100%;
    height:250px;
    margin-bottom: 30px;

    @include if-tablet-portrait {
        height: 350px;
        margin-bottom: 40px;
    }

    @include if-tablet-landscape {
        height: 400px;
    }
}


.pagina-contacto{
    /* Ajustes para el div con la información sobre nosotras */
    .contacto-info{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;

        @include if-tablet-portrait {
            padding-left: 35px;
         }

        /* Título "Contacta con nosotras" */
        h2{
            font-size: $font-size-h3;
            color: $red;
            margin-bottom: 20px;
            text-align: center;

            @include if-tablet-portrait {
                font-size: $font-size-h1;
                margin-bottom: 18px;
             }
        }

        /* Párrafo de contacto */
        p {
            line-height: 1.5em;
            padding: 0px 30px 10px 20px;

            @include if-mobile-landscape {
                padding: 0px 40px 10px 30px;;
             }

            @include if-tablet-portrait {
                font-size: $font-size-body - 2;
                padding: 10px 50px 10px 55px;
             }

             @include if-tablet-landscape {
                font-size: $font-size-body;
                padding: 10px 70px 10px 65px;
             }
        }
    }
    
    /* Ajustes para el div general que engloba todo el formulario*/
    .formulario{
        box-sizing: border-box;
        padding: 10px 40px 20px 40px;

        @include if-mobile-landscape {
            padding: 10px 40px 20px 50px;
         }

        @include if-tablet-portrait {
            padding: 10px 60px 20px 80px;
         }
         @include if-tablet-landscape {
            padding: 10px 80px 20px 100px;
         }


        /* Ajustes del formulario */
        form{
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            
            /* Clase para la fila uno de forma que en los formatos pequeños el nombre y el gmail estén en
            líneas separadas mientras que en los formatos grandes ocupen una sola línea */
            .form-fila-1 {
                width: 100%;
                display: flex;
                flex-direction: column;

                @include if-tablet-landscape{
                    flex-direction: row;
                }

                /* Clasec común para los divs que engloban los campos del nombre y del gmail*/
                .form{
                    margin-bottom: 15px;
                    font-family: $main-font-family;
                      }
                }
                
                /* Ajustes para el campo del nombre (imagen e input)*/
                .name {
                    width: 100%;
                    margin-right: 5px;

                    @include if-tablet-landscape{
                        width: 48%;
                    }
                    .form-input-name{
                        width: 95%;
                        @include if-tablet-portrait{
                            height: 30px;
                        }
                    }
                }

                 /* Ajustes para el campo del correo (imagen e input)*/
                .gmail {
                    width: 100%;
                    
                    @include if-tablet-landscape{
                        width: 48%;
                    }

                    .form-input-mail{
                        width: 95%;
                        @include if-tablet-portrait{
                            height: 30px;
                        }
                    }
                }
            }

            /* Clase para la fila 2 del formulario, en la que solo se encuentra la zona de texto. */
            .form-fila-2{
                width: 100%;
                font-family: $main-font-family;

                @include if-tablet-portrait{
                    margin-top: 15px;
                }
                textarea{
                    width: 95%;
                    height: 70px;
                    margin-bottom: 15px;
                    
                @include if-mobile-landscape{
                  height: 100px;
                }

                @include if-tablet-landscape{
                    height: 140px;
                  }
                }
            }

            /* Ajustes para las imágenes que acompañan a los tres inputs. Se coloca dentro de form pero 
            de forma más general (no dentro de ningún div concreto) porque los ajustes son iguales para las
            tres imágenes de los tres campos. */
            img{
                width: 20px;
                @include if-tablet-portrait{
                    width: 30px;
                }
            }

            /* Botón de enviar el formulario*/
            .input-button{
                background-color: white;
                color: $text-grey;
                font-family: $main-font-family;
                font-size: $font-size-footer;
                padding: 5px;
                margin-bottom: 10px;
                //Cambia de color cuando se pulsa
                &:focus {
                    outline-color: $eggshell;
                }
                //Cambia también cuando se pasa por encima
                &:hover {
                    background-color: $dark-blue;
                    color: white;
                }

                @include if-tablet-landscape {
                    font-size: $font-size-body;
                }
            }
        }
 
    }

    /* Ajustes del texto "Tu mensjae" sobre la textaera */
    .input-name{
        padding-bottom: 5px;
        padding-left: 3px;
        @include if-tablet-portrait {
            font-size: $font-size-footer;
        }
    
        @include if-tablet-landscape {
            font-size: $font-size-body;
        }
        
    }
    /* Icono de mensaje para el tercer input*/
    .form-icon {
        padding-left: 3px;
    }