.pagina-contacto{

    .contacto-info{
        box-sizing: border-box;
        padding: 20px;

        h2{
            font-family: $titles-font-family;
            font-size: $font-size-h3;
            color: $dark-blue;
            margin-bottom: 14px;
            text-align: center;
        }

        p {
            font-family: $main-font-family;
            line-height: 1.5em;
        }
    }
    
    .formulario{
        box-sizing: border-box;
        form{
            display: inline-block;
            padding: 20px;

            .form-fila-1 {
                width: 100%;
                display: flex;
                flex-direction: row;

                .form{
                    margin-bottom: 15px;
                    font-family: $main-font-family;
                }

                .name {
                    margin-right: 5px;
                }
            }

            .form-fila-2{
                width: 100%;
                font-family: $main-font-family;
                textarea{
                    width: 100%;
                    height: 70px;
                    margin-bottom: 15px;
                }
            }

            img{
                width: 20px;
            }
        }
 
    }
}