
.footer {
    position: block;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: $footer-grey;
    height: 120px;
    width: 100%;
    font-family: $main-font-family;

    @include if-tablet-portrait {
        height: 150px;
    }


    .logo-footer {
        width: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        order: 0;

        @include if-tablet-portrait {
            width: 130px;
        }

        .img-logo-footer {
            width: 50px;
            padding-bottom: 10px;

            @include if-tablet-portrait {
                width: 60px;
            }
        }
        .copyright {
            font-family: $main-font-family;
            font-size: $font-size-header-mobile - 2;
            color: white;
            line-height: 1.5em;

            @include if-tablet-portrait {
                font-size: $font-size-footer;
            }
        }
    }

    .contacto-footer {
        width: 180px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        order: 1;
        font-size: $font-size-header-mobile;
        color: white;

        h4{
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        a{
            color: white;
         }
        
        @include if-tablet-portrait {
            font-size: $font-size-footer;
            width: 240px;
        }

        p {
            padding: 5px;
        }
    }

    .redes-sociales {
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        order: 2;
        padding: 0px 10px 0px 20px;

        @include if-mobile-landscape {
            width: 70px;
        }

        @include if-tablet-portrait {
            width: 70px;
            font-size: $font-size-footer;
        }

        .icon{
            width: 20px;
            padding-top: 10px;

            @include if-mobile-landscape {
                flex-direction: row;
                padding-left: 10px;
            }

            @include if-tablet-landscape {
                padding-left: 20px;
                width: 30px;
            }
        }
    }
}