/*Hoja de estilo para el footer. Contenido anidado*/ 

/*El footer se coloca al final de todas las páginas, en color gris, ocupando todo el ancho de página y con 120'px iniciales.
Además también se utiliza flexbox para una mejor organización. Se incluye una media query para hacerlo más alto cuando se 
visualice en una tablet */
.footer {
    position: block;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: $footer-grey;
    height: 120px;
    width: 100%;
    font-family: $main-font-family;

    @include if-tablet-portrait {
        height: 150px;
    }


    /*Ajustes para el logo de Arreu con sus respectivas media queries. Incluye el logo en sí y el texto de copyrgight,
    por lo que se coloca en forma de columna para que aparezcan un elemento encima de otro. */
    .logo-footer {
        width: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        order: 0;

        @include if-tablet-portrait {
            width: 130px;
        }

        /* Imagen en png del logo con sus ajustes de tamaño pertinentes*/
        .img-logo-footer {
            width: 70px;
            padding-bottom: 10px;

            @include if-tablet-portrait {
                width: 100px;
            }

            @include if-tablet-landscape {
                width: 130px;
            }
        }
        /* Texto de copyright*/
        .copyright {
            font-family: $main-font-family;
            font-size: $font-size-header-mobile - 4;
            color: white;
            line-height: 1.5em;

            @include if-tablet-portrait {
                font-size: $font-size-body-mobile;
            }
        }
    }

    /* Columna con la información de contacto, por lo que se organiza también con flex-box*/
    .contacto-footer {
        width: 180px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        order: 1;
        font-size: $font-size-header-mobile;
        color: white;

        /* Título "información de contacto" */
        h4{
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        
        @include if-tablet-portrait {
            font-size: $font-size-footer;
            width: 240px;
        }

        p {
            padding: 5px;
        }
    }

    /* Ajustes para el div del logo del ayuntamiento con meida queries*/
    .ajuntament {
        width: 60px;
        display: flex;
        align-items: center;
        order: 2;
        padding: 0px 20px 10px 10px;

        @include if-mobile-landscape {
            width: 70px;
            padding: 0px 20px 20px 10px;
        }

        @include if-tablet-portrait {
            width: 80px;
            font-size: $font-size-footer;
        }

        /* Ajustes para la imagen en png del logo y sus adaptaciones de tamaño correspondientes*/
        .a_logo{
            width: 45px;
            padding-top: 10px;

            @include if-mobile-landscape {
                width: 55px;
            }

            @include if-tablet-portrait {
                width: 70px;
            }

            @include if-tablet-landscape {
                width: 85px;
            }
        }
    }
}