.pagina-principal{

    .video{
        box-sizing: border-box;
        width: 100%;
           
    }

    .texto {
        box-sizing: border-box;
        padding: 20px;

        .texto-principal {
            margin-bottom: 30px;

            h2 {
                font-family: $titles-font-family;
                font-size: $font-size-h2;
                color: $red;
                text-transform: uppercase;
                margin-bottom: 7px;
            }

            p {
                font-family: 'Montserrat';
                line-height: 1.6em;
            }
        }
    }
}