/*Hoja de estilo para la página de programación. Contenido anidado.*/ 

.pagina-programacion{
    /* Div para el emplazamiento en el que tendrá lugar el evento*/
   .lugar{
       width: 100%;
       box-sizing: border-box;
       padding: 5%;

       @include if-mobile-landscape{
        padding: 8%;
       }

       @include if-tablet-portrait{
        padding: 5% 9% 5% 9%;
       }

       @include if-tablet-landscape{
        padding: 5% 12% 5% 12%;
       }

       // Título "Emplazamiento"
       /*Ajustes específicos sobre la posición de este título*/
       h2{
        padding-left: 30px; 

        @include if-mobile-landscape{
            padding-left: 2px; 
           }
       }

       //Enlace a la plaza Viriato en google maps
       a{
           color: $text-grey;
           padding-left: 30px;

           @include if-mobile-landscape{
            padding-left: 2px;
            margin-bottom: 10px; 
           }
           @include if-tablet-portrait {
            font-size: $font-size-body;
         }
       }

       //Ajustes de la imagen de la zona (de generación propia)
       img{
           padding: 10px 22px 10px 22px;

           @include if-mobile-landscape{
            padding: 0px;
            margin: 15px 0px 15px 0px;
           }
           
       }
   }

   /* Div que engloba tanto el horario como las actividades a realizar con sus media queries*/
   .programacion{
        width: 100%;
        box-sizing: border-box;
        padding: 10px 40px 20px 40px;
        margin-bottom: 20px;
      
        @include if-mobile-landscape{
            padding: 10px 60px 20px 50px;
           }
        
        @include if-tablet-portrait{
            padding: 10px 70px 20px 70px;
            margin-bottom: 30px;
           }

        @include if-tablet-landscape{
            padding: 10px 120px 20px 120px;
            margin-bottom: 30px;
           }

        //Div para el apartado de horario
        .horario{
            text-transform: uppercase;
            font-size: $font-size-body-mobile + 2;
            margin-bottom: 30px;

            @include if-mobile-landscape{
                margin-bottom: 50px;
               }

            @include if-tablet-portrait{
                font-size: $font-size-body;
                margin-bottom: 60px;
            }
        }
   }

   /* Div que agrupa las culturas en dos filas. Misma clase para las dos filas*/
   .fila-1{
       /* Se inicia ya con una media querie porque en mobile-portrait no necesia ningún ajuste.*/
        @include if-mobile-landscape{
            width: 100%;
            display: flex;
            box-sizing: border-box;
            padding: 10px 55px 10px 40px;

            //Clases para el nombre original de los títeres y la información sobre ellos
            .nombre, .intro{
                padding-right: 20px;
                padding-bottom: 5px;
            }
        }

        //Ajustes para el tamaño de tablet-portrait
        @include if-tablet-portrait{
            padding: 10px 60px 20px 60px;

            .nombre, .intro{
                padding-right: 30px;
            }

            //Se añade margen a las culturas que están a la izquierda para separarlas de la columna derecha
            .indonesia, .china{
                margin-right: 10px;
            }
        }

        @include if-tablet-landscape{
            padding: 10px 110px 20px 110px;

            .indonesia, .china{
                margin-right: 20px;
            }
         }
       
   }
   
   /* Clase para los divs que contienen toda la información sobre las diferentes culturas*/
   .culturas{
        width: 100%;
        box-sizing: border-box;
        padding: 10px 40px 20px 40px;
        margin-bottom: 20px;

        @include if-mobile-landscape{
            padding: 10px 10px 20px 10px;
        }
        }
  
    /* Ajustes para el nombre de cada cultura. No anidado porque es común a todas las culturas.
    Lo mismo ocurre con el resto de elementos presentes a continuación.*/
    .nombre{
        margin-top: 10px;
        margin-bottom: 5px;
    }

    //Sábado en el que se represena cada cultura
    .fecha{
         margin-bottom: 10px;
    }

    /* Ajustes generales para todos los títulos h2 de la página de programación*/
    h2 {
        font-size:$font-size-body; 
        font-weight: bold;
        color: $red;
        margin-bottom: 10px;

        @include if-tablet-portrait{
            font-size: $font-size-h3;
            margin-bottom: 10px;
        }

        @include if-tablet-landscape{
            font-size: $font-size-h1;
            margin-bottom: 20px;
            }
        }
    /* Ajustes generales para todos los párrafos de la página de programación*/
    p{
        line-height: 1.6em;

        @include if-tablet-portrait {
            font-size: $font-size-body - 2;
        }

         @include if-desktop{
            font-size: $font-size-body; 
         }
    }
     
    //Estilo de todas las imágenes de las culturas
    img{
        width: 100%;

        @include if-mobile-landscape{
            margin-bottom: 10px;
         }
    }
     
}