.pagina-promocion{

  .slider {
    width: 100%;
    margin: auto;
    overflow: hidden;

    @include if-tablet-landscape{
      width: 900px;
      margin: 50px auto;
    }
  }
  
  .slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 16s infinite alternate linear;
  }
  
  .slider li {
    width: 100%;
    list-style: none;
  }
  
  .slider img {
    width: 100%;
  }
  
  @keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
  }
  
  h1 {
    margin: 40px 0px 10px 20px;
    font-size: $font-size-body;
    color: $red;
    text-transform: uppercase;

    @include if-tablet-portrait{
      font-size: $font-size-h3;
      margin: 50px 0px 20px 20px;
    }

    @include if-tablet-landscape{
      margin: 60px 0px 25px 0px;
    }

  }

  .promocion {

    @include if-tablet-landscape{
      width: 900px;
      margin: 10px auto;
    }

    .promocion-1 {
      width: 100%;
 
      .carteles{
       width: 100%;
       display: inline-block;
       /*background-color: black; */
       z-index: -2;

          .imagenes-cartel{
            .cartel {
              width: 50%;
              float: left; 
              z-index: 2;           

            &:hover{
              opacity: 0.35;
              -webkit-transition: opacity 300ms;
              -moz-transition: opacity 300ms;
              -o-transition: opacity 300ms;
              -ms-transition: opacity 300ms;
              transition: opacity 300ms; 
            }
          }
        }
          
        .textos{
          width: 100%;
          height: 75%;
          z-index: -1;
          position: absolute;
          text-align: center;
          padding: 2px;
          box-sizing: border-box;
          top: 53%;

          @include if-mobile-landscape{
            top: 500px;
          }

          @include if-tablet-portrait{
            top: 630px;
          }

          @include if-tablet-landscape{
            top: 800px;
            padding-right: 100px;
            max-width: 1025px;
          }

  
          .textos, div{
            position: relative;
            width: 50%;
            float: left;          
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $red;
            font-size: $font-size-footer;
            line-height: 1.5em;
            font-weight: bold;

            @include if-mobile-landscape{
              height: 450px;
            }

            @include if-tablet-portrait{
              height: 520px;
              font-size: $font-size-body;
            }

            @include if-tablet-landscape{
              height: 600px;
              font-size: $font-size-h3;
              ;
            }

          }
        }
      }
    }
 
    .merchandising{
       width: 100%;
       margin-bottom: 10px;

       @include if-tablet-portrait {
        margin-bottom: 15px;
       }
 
       h2{
         margin: 15px 0px 10px 20px;

         @include if-tablet-portrait {
          font-size: $font-size-body;
          margin-bottom: 15px;
         }

         @include if-tablet-landscape {
          margin: 15px 0px 15px 0px;
         }
       }
    }
  }
   
  
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container, .slideshow-container2, .slideshow-container3 {
  max-width: 1100px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides, .mySlides2, .mySlides3 {
    display: none;

    img {
      width: 25%;
      float: left;
      margin-bottom: 5px;
    }
}

.dot-container{
  text-align: center;
}

/* The dots/bullets/indicators */
.dot, .dot2, .dot3 {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 5px 2px 10px 0px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  @include if-mobile-landscape{
    margin: 7px 4px 15px 2px;
    height: 8px;
    width: 8px;
  }

  @include if-tablet-portrait{
    margin: 10px 5px 20px 5px;
    height: 10px;
    width: 10px;
  }

  @include if-tablet-portrait{
    margin: 12px 7px 30px 5px;
  }
}

.active, .dot:hover, .dot2:hover, .dot3:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
