<div class="pagina-contacto">
        <div class="mapa">
                <iframe width="900" height="430" 
                src="https://www.google.com/maps/search/upv/@39.4802805,-0.3449278,17z/data=!3m1!4b1"></iframe>
        </div>

        <div class="contacto-info">
            <h2>Contacta con nosotras</h2>
            <p>
                Bienvenido a la página web del evento de títeres Arreu.
                Somos Nuria Abellán, Ana Cucó, Miranda Guerriero, Vera Maeso, 
                Núria Murgui y Alba Sanjuan. Si quieres ponerte en contacto con
                nostras respecto al evento, rellena el siguiente formulario:
            </p>
        </div>

        <div class="formulario">
            <form action="">
                <div class="form-fila-1">
                    <div class="form name">
                        <img class="form-icon" src="../img/icon-profile.png" alt="">
                        <p>Nombre</p>
                        <input type="text" name="Nombre" maxlength="30"> 
                    </div>
            
                    <div class="form gmail">
                        <img class="form-icon" src="../img/mail-icon.png" alt="">
                        <p>Correo</p>
                        <input type="text" name="Correo" maxlength="30">
                    </div>
                           
                </div>
              
                <div class="form-fila-2">
                    <img class="form-icon" src="../img/message-icon.png" alt="">
                    <p>Tu mensaje</p>
                    <textarea name="Tu mensaje" id=""></textarea>
                </div>
                <input type="submit" name="Enviar" value="Enviar">
              
            </form>
        </div>
</div>
