<div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1539.740350557201!2d-0.34161257428992897!3d39.48105888742916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60487c5d604077%3A0x150fdf31fdc5a6f6!2sUniversitat+Polit%C3%A8cnica+de+Val%C3%A8ncia+UPV!5e0!3m2!1ses!2ses!4v1527152686169"
   frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="pagina-contacto container">

        <div class="contacto-info">
            <h2>Contacta con nosotras</h2>
            <p>
                Bienvenido a la página web del evento de títeres Arreu.
                Somos Nuria Abellán, Ana Cucó, Miranda Guerriero, Vera Maeso, 
                Núria Murgui y Alba Sanjuan, diseñadoras de la imagen de
                Arreu. Esperamos que disfrutes de esta experiencia multicultural
                única en Valencia. Si quieres ponerte en contacto con nostras respecto al evento, 
                rellena el siguiente formulario:
            </p>
        </div>

        <div class="formulario">
            <form id="form1" name="form1" method="post" action="enviar.php">
                <div class="form-fila-1">
                    <div class="form name">
                        <img class="form-icon" src="../img/icon-profile.png" alt="">
                        <p class="input-name">Nombre</p>
                        <input class="form-input-name" type="text" name="nombre" id="nombre"> 
                    </div>
            
                    <div class="form gmail">
                        <img class="form-icon" src="../img/mail-icon.png" alt="">
                        <p class="input-name">Correo</p>
                        <input class="form-input-mail" type="text" name="email" id="emial">
                    </div>
                           
                </div>
              
                <div class="form-fila-2">
                    <img class="form-icon" src="../img/message-icon.png" alt="">
                    <p class="input-name">Tu mensaje</p>
                    <textarea name="mensaje" id="mensjae"></textarea>
                </div>
                <input class="input-button" type="Submit" name="Enviar" value="Enviar">
              
            </form>
        </div>
</div>
