<!--Footer común a todas las páginas-->

<footer class="footer">
    <!-- Div para el logo del evento-->
    <div class="logo-footer">
        <img class="img-logo-footer" src="img/logo-image.png" alt="Arreu">
        <p class="copyright">
            &copy; Arreu Theme.</br> All rights reserved.
        </p>
    </div>
       
    <!-- Información sobre dónde encontrarnos y cóm contactar con nosotras-->
    <div class="contacto-footer">
        <h4>Información de contacto</h4> 
        <p>Estamos en Valencia</p>
        <p>Camí de Vera, s/n, 46022 València</p>
        <p>arreudelmon@gmail.com</p>
    
    </div>
    
    <!-- Logo de l'Ajuntament de València (promotor del evento)-->
    <div class="ajuntament">
        <img class="a_logo" src="img/Ajuntament_de_Valencia.png" alt="Ajuntament">
    </div>
</footer>