<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,
maximun-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="style.css">

<!-- Archivo con la información del head de la página. Se colocan las etiquetas meta y se une el
archivo html con la hoja de estilos de nuestra página.
Creando el head en un documento separado podemos importarlo en las páginas necesarias sin tener
que repetir el código cad vez. -->