<div class="pagina-principal">
    <div class="video">
        <video src="../video/Mamma-Mia-Here-We-Go-Again.mp4" preload="auto" controls autoplay loop width="100%">
    </div>

    <div class="bloques">
        <div class="texto-imagen-principal">
            <h2 class="titles">Historia</h2>
            <p>El festival de marionetas “Arreu”, se inaugura este año 2018 
                con la intención de promover el arte de los títeres, 
                tanto a nivel educativo como artístico. Se celebrará durante cada 
                domingo del mes de Julio; en el barrio de Velluters. Será una tarde 
                llena de espectáculos, comida y actividades y se alargará hasta la noche. 
            </p>
            <img src="../img/principal_historia.JPG" alt="Historia">
            <img class="img-hide" src="../img/principal_historia2.JPG" alt="Historia">
        </div>
       
        <div class="texto-imagen-principal">
            <h2>Arreu d'Orient 2018</h2>
            <p> Este año en concreto, la temática será “Arreu d’Orient”, de manera que 
                cada fin de semana las actividades y los shows estarán ambientados según 
                las tradiciones titiriteras de distintos lugares asiáticos. Estos lugares 
                son Japón, Nepal, Vietnam, y la Isla de Java. En la programación
                <a href="./detail_prog.html">(link aquí)</a>
                tienes todas las actividades que se realizarán durante el mes. 
                Si no te quieres perder nada, ven y disfruta de un día inolvidable.
            </p>
            <img src="../img/principal_arreu18.JPG" alt="Arreu 2018">
        </div>

       <div  class="texto-imagen-principal 3">
           <div class="principal-column-1">
                <h2>El evento</h2>
                <p> Con este evento, l’Ajuntament de València quiere dar visibilidad a la tradición
                    del teatro de títeres, tan altamente infravalorado. 
                    Además de crear un buen ambiente festivo para gente de todas la edades. 
                </p>
                <p>
                    Si deseas mantenerte informado, visita nuestra página web o síguenos en las redes sociales.
                </p>
           </div>
           <div class="principal-column-2">
                <img src="../img/principal_evento.JPG" alt="El evento">
           </div>
           
       </div>

    </div>
</div>

