<!--Html para el contenido principal de la página de bienvenida-->

<!--Vídeo promocional de Arreu.
Está fuera del div general para que ocupe toda la pantalla aunque aumente el tamaño de esta-->
<div class="video">
    <video  preload="auto" autoplay poster="../img/poster.jpg" width="100%" src="../vid/videoWeb.mp4" preload="auto" autoplay width="100%">
</div>

<!--Div que engloba toda todo el resto de información-->
<div class="pagina-principal container" >

    <!--Bloques formados por los textos y las imágenes correspondientes-->
    <div class="bloques">
        <div class="texto-principal">
            <!--Div con clase común que engloba la información con su título correspondiente-->
            <h2 class="titles">Arreu</h2>
            <p>El festival de marionetas “Arreu”, se inaugura este año 2018 
                con la intención de promover el arte de los títeres, 
                tanto a nivel educativo como artístico. Se celebrará durante cada 
                sábado del mes de Julio; en la plaza Viriato en Valencia. Serán unas tardes 
                llenas de espectáculos, música, comida y actividades que se alargarán hasta la noche. 
            </p>
        </div>

        <!--Div con clase común para las imágenes-->
        <div class="img-principal" >
            <!--Imagen visible en todos los formatos-->
            <img src="../img/principal_historia.JPG" alt="Historia">
            <!--Imagen visible a partir del tamaño "mobile-landscape"-->
            <img class="img-hide" src="../img/principal_historia2.JPG" alt="Historia">
        </div>
       
        <!--Div con clase común que engloba la información con su título correspondiente-->
        <div class="texto-principal">
            <h2>Arreu del món 2018</h2>
            <p> Este año en concreto, la temática será “Arreu del món”, de manera que 
                cada fin de semana las actividades y los shows estarán ambientados según 
                las tradiciones titiriteras de distintos lugares asiáticos. Estos lugares 
                son Japón, China, Vietnam, y la Isla de Java, en Indonesia. En la programación
                <a href="./detail_prog.html">(link aquí)</a>
                tienes todas las actividades que se realizarán durante el mes. 
                Si no te quieres perder nada, ven y disfruta de unos días inolvidables.
            </p>
        </div>

        <!--Div con clase común para las imágenes-->
        <div class="img-principal" >
            <img src="../img/principal_arreu18.JPG" alt="Arreu 2018">
            <img class="img-hide" src="../img/principal_arreu18_2.JPG" alt="Arreu 2018">
        </div>
       
        <!--Div con clase común que engloba la información con su título correspondiente-->
       <div  class="texto-principal">
                <h2>El evento</h2>
                <p> Con este evento, l’Ajuntament de València quiere dar visibilidad a la tradición
                    del teatro de títeres, tan altamente infravalorado. 
                    Además de crear un buen ambiente festivo para personas de todas la edades y especialmente
                    aquellos interesados en el arte. 
                </p>
                <p>
                    Si deseas mantenerte informado, visita nuestra página web y descubre información
                    sobre las actividades y los productos que encontrarás en los días que se realize el evento.
                </p>
       </div>

       <!--Div con clase común para las imágenes-->
       <div class="img-principal" >
            <img src="../img/principal_evento.JPG" alt="El evento">
            <img class="img-hide" src="../img/principal_evento2.JPG" alt="El evento">
       </div>
       

    </div>
</div>

