<div class="pagina-programacion container">
    <div class="lugar">
        <h2>Emplazamiento</h2>
        <a href="https://goo.gl/maps/nnN2dbV5L2S2">Plaza Viriato, 1</a>
        <img src="../img/emplazamiento.jpg" alt="Pl Viriato">
    </div>

    <div class="programacion">
        <h2>Horario</h2>
        <p class="horario">Todos los sábados de julio de 18:00 a 00:00.</p>
        <h2>Actividades</h2>
        <p>Cada sábado estará ambientado según el lugar de origen de los títeres representados.
            Dispondremos de luces, música ambiente y comida propia de cada región. Ven y 
            disfruta de este evento multicultural y artístico único en Valencia.
          
        </p>
    </div>

    <div class="columna-1">
        <div class="culturas indonesia">
            <h2>Indonesia</h2>
            <p class="fecha">Sábado 7</p>
            <img src="../img/indonesia.jpg" alt="Indonesia">
            <p class="nombre">Wayang kulit (títeres javaneses).</p>
            <p class="intro">Teatro de sombras protagonizado por títeres de varillas y su sombra.
                Las marionetas se construyen generalmente en cuero troquelado y pintado y tienen brazos
                móviles (una varilla central unida a la cabeza y dos varillas que conectan con las manos). 
                Miden entre 40cm y 80cm de altura. Las marionetas actúan entre una fuente lumínica y una cortina o telón sobre el que se
                proyectan las sombras,
            </p>
        </div>
        <div class="culturas japon">
                <h2>Japón</h2>
                <p class="fecha">Sábado 14</p>
                <img src="../img/japon.jpg" alt="Japon">
                <p class="nombre">Ningyo Johruri Bunraku (teatro de marionetas japonés).</p>
                <p class="intro"> Cada marioneta es manipulada generalmente por tres personas, excepto los personajes
                    secundarios, que suelen ser más sencillos.
                    Los titiriteros aparecen a la vista de los espectadores. Además de ellos se encuentra la
                    figura del narrador, quien acompañado por la música del shamisen, relata la historia 
                    poniendo voces a los personajes.
                </p>
        </div>
    </div>
   
    <div class="columna-1">
        <div class="culturas nepal">
            <h2>Nepal</h2>
            <p class="fecha">Sábado 21</p>
            <img src="../img/nepal.jpg" alt="nepal">
            <p class="nombre">Kathputlis (títeres nepalíes).</p>
            <p class="intro">Se construyen con madera, papel reciclado, restos de sari, alambre y tela. 
                Se caracterizan por sus cabezas talladas y sus amplios y voluminosos faldones.
                Los ojos son el último elemento que se añade en el proceso de construcción, destacados por
                su expresividad, y es cuando, según la creencia popular, las marionetas cobran vida.
                El movimiento se les añade mediante cuerdas.
                
            </p>
         </div>
            
        <div class="culturas vietnam">
            <h2>Vietnam</h2>
            <p class="fecha">Sábado 28</p>
            <img src="../img/vietnam.jpg" alt="vietnam">
            <p class="nombre">Roi nuoc (títeres vietnamitas).</p>
            <p class="intro">Están hechas de madera, normalmente de higuera, meticulosamente esculpidas,
                policromadas con alegres colores y esmaltadas. Se mueven a bastante distancia, desde atrás,
                con varillas, perchas y cuerdas, por titiriteros ocultos tras pantallas de tela o toldos.
                Las marionetas sobre el agua de Vietnam constituyen un arte milenario único en el mundo.
            </p>
        </div>
    </div>
    
</div>

<div class="image-carousel">
    <div class="inner">
        <img src="../img/img1.jpg" alt="Cartel 1">
        <img src="../img/img2.jpg" alt="Cartel 2">
        <img src="../img/img3.jpg" alt="Cartel 3">
    </div>
    <div class="bubbles"></div>
    <div class="prev"></div>
    <div class="next"></div>
    
</div>

<script src="../js/main.js"></script>