<!--Html para el contenido principal de la página sobre la programación-->

<!--Div general con la clase container, pues cuando llegue a cierto tamaño,
los elementos inlcuídos no deben aumentar más su tamaño.-->
<div class="pagina-programacion container">

    <!--Div para el emplezamiento con el título, link a google maps y una imagen de la plaza-->
    <div class="lugar">
        <h2>Emplazamiento</h2>
        <a href="https://goo.gl/maps/nnN2dbV5L2S2">Plaza Viriato, 1</a>
        <img src="../img/emplazamiento.jpg" alt="Pl Viriato">
    </div>

    <!--Div para el horario y las actividades con sus textos y títulos correspondientes-->
    <div class="programacion">
        <h2>Horario</h2>
        <p class="horario">Todos los sábados de julio de 19:00h a 01:00h.</p>
        <h2>Actividades</h2>
        <p>Cada sábado estará ambientado según el lugar de origen de los títeres representados.
            Dispondremos de luces, música ambiente y comida propia de cada región mientras se llevan
            a cabo representaciones en los tres teatros disponibles durante el evento. Además contaremos
            con exposiciones de títeres de cada región representada. Ven y 
            disfruta de este evento multicultural y artístico único en Valencia.
          
        </p>
    </div>

     <!--Fila 1 para las culturas. Se muestran en filas de dos elementos en los formatos anchos-->
    <div class="fila-1">
         <!--Div para las culturas. Cada uno presenta el título, el día, una imagen de los títeres
        característicos y un texto informativo-->
        <div class="culturas indonesia">
            <h2>Indonesia</h2>
            <p class="fecha">Sábado 7</p>
            <img src="../img/indonesia.jpg" alt="Indonesia">
            <p class="nombre">WAYANG KULIT (títeres javaneses).</p>
            <p class="intro">Teatro de sombras protagonizado por títeres de varillas y su sombra.
                Las marionetas se construyen generalmente en cuero troquelado y pintado y tienen brazos
                móviles (una varilla central unida a la cabeza y dos varillas que conectan con las manos). 
                Miden entre 40cm y 80cm de altura. Las marionetas actúan entre una fuente lumínica y una cortina o telón sobre el que se
                proyectan las sombras.
            </p>
        </div>
         <!--Div para las culturas. Cada uno presenta el título, el día, una imagen de los títeres
        característicos y un texto informativo-->
        <div class="culturas japon">
                <h2>Japón</h2>
                <p class="fecha">Sábado 14</p>
                <img src="../img/japon.jpg" alt="Japon">
                <p class="nombre">NINGYO JOHRURI BUNRAKU (teatro de marionetas japonés).</p>
                <p class="intro"> Cada marioneta es manipulada generalmente por tres personas, excepto los personajes
                    secundarios, que suelen ser más sencillos.
                    Los titiriteros aparecen a la vista de los espectadores. Además de ellos se encuentra la
                    figura del narrador, quien acompañado por la música del shamisen, relata la historia 
                    poniendo voces a los personajes.
                </p>
        </div>
    </div>
   
     <!--Fila 2 para las culturas. Se muestran en filas de dos elementos en los formatos anchos-->
    <div class="fila-1">
         <!--Div para las culturas. Cada uno presenta el título, el día, una imagen de los títeres
        característicos y un texto informativo-->
        <div class="culturas china">
            <h2>China</h2>
            <p class="fecha">Sábado 21</p>
            <img src="../img/china.jpg" alt="china">
            <p class="nombre">MARIONETAS DE VARILLAS (títeres chinos).</p>
            <p class="intro">Las marionetas se componen de una funda de tela en forma de camisola sobre 
                la cual se fijan la cabeza, las manos y los pies. 
                El titiritero mueve cada uno de los hilos con sus propios dedos. 
                En las representaciones se ven a las personas que manejan los muñecos y van acompañados de una orquesta.
                Además existen tres tipos diferentes: grande, mediano y pequeño. 
                
            </p>
         </div>
        
        <!--Div para las culturas. Cada uno presenta el título, el día, una imagen de los títeres
        característicos y un texto informativo-->
        <div class="culturas vietnam">
            <h2>Vietnam</h2>
            <p class="fecha">Sábado 28</p>
            <img src="../img/vietnam.jpg" alt="vietnam">
            <p class="nombre">ROI NUOC (títeres vietnamitas).</p>
            <p class="intro">Están hechas de madera, normalmente de higuera, meticulosamente esculpidas,
                policromadas con alegres colores y esmaltadas. Se mueven a bastante distancia, desde atrás,
                con varillas, perchas y cuerdas, por titiriteros ocultos tras pantallas de tela o toldos.
                Las marionetas sobre el agua de Vietnam constituyen un arte milenario único en el mundo.
            </p>
        </div>
    </div>
    
</div>

