<!--Html para el contenido principal de la página promocional del evento-->

<!--Div general con la clase container, pues cuando llegue a cierto tamaño,
los elementos inlcuídos no deben aumentar más su tamaño.-->
<div class="pagina-promocion container">

        <!--Div para el slider superior-->
       <div class="slider fade">
		<ul>
                        <li><img src="../img/slider1.jpg" alt=""></li>
                        <li><img src="../img/slider2.jpg" alt=""></li>
                        <li><img src="../img/slider3.jpg" alt=""></li>
                        <li><img src="../img/slider4.jpg" alt=""></li>
		</ul>
        </div>
        
        <!--Div que engloba todos los elementos promocionales-->
        <div class="promocion">
                <!--Div para la primera parte de la promoción, es decir, los carteles-->
                <div class="promocion-1">
                        <h1>Carteles Arreu 2018</h1>
                        <!--Div para los carteles, que incluye imágenes y un texto por debajo-->
                        <div class="carteles">
                                <!--Imágenes de los carteles-->
                                <div class="imagenes-cartel">
                                        <img class="cartel" src="../img/cartel1.jpg" alt="Cartel 1">         
                                        <img class="cartel"src="../img/cartel2.jpg" alt="Cartel 2">
                                        <img class="cartel"src="../img/cartel3.jpg" alt="Cartel 3">   
                                        <img class="cartel"src="../img/cartel4.jpg" alt="Cartel 4">
                                </div>
                                <!--Texto que indica qué cartel es cada uno-->
                                <div class="textos">
                                        <div class="texto-cartel">Cartel ARREU 2018. <br>
                                        Indonesia sábado 7 de julio.</div>
                                        <div class="texto-cartel">Cartel ARREU 2018. <br>
                                        Japón sábado 14 de julio.</div>
                                        <div class="texto-cartel">Cartel ARREU 2018. <br>
                                        Nepal sábado 21 de julio.</div>
                                        <div class="texto-cartel">Cartel ARREU 2018. <br>
                                        Vietnam sábado 28 de julio.</div>
                                </div>       
                        </div>
                        
                </div>
                <!--Div para la segunda parte de la promoción, es decir, el merchandising-->
                <div class="merchandising">
                        <!--Títulos-->
                        <h1>Merchandising</h1>
                        <!--Imágenes fijas sobre marcapáginas -->
                        <h2>Marcapáginas</h2>
                        <div class="marcapaginas">
                                <img src="../img/separador1.jpg" alt="Separador 1">
                                <img src="../img/separador2.jpg" alt="Separador 2">
                                <img src="../img/separador3.jpg" alt="Separador 3">
                        </div>
                        
                        <h2>Textil</h2>
                        <!--Div que contiene todas las imágenes del primer slider-->
                        <div class="slideshow-container">
                                <!--Cada imagen individual está contenida en su propio div-->
                                <div class="mySlides fade">
                                <img src="../img/bags2.jpg">
                                </div>
                        
                                <div class="mySlides fade">
                                <img src="../img/bags3.jpg">
                                </div>
                        
                                <div class="mySlides fade">
                                <img src="../img/bags1.jpg">
                                </div>

                                <div class="mySlides fade">
                                <img src="../img/bags4.jpg">
                                </div>

                                <div class="mySlides fade">
                                <img src="../img/camiseta1.jpg">
                                </div>

                                <div class="mySlides fade">
                                <img src="../img/camiseta2.jpg">
                                </div>
                        </div>
                        <br>
                        
                        <!--Puntos para pasar las imágenes -->
                        <div class="dot-container">
                                <!--Se pasa la imagen al pulsar sobre ellos-->
                                <span class="dot" onclick="currentSlide(1)"></span>
                                <span class="dot" onclick="currentSlide(2)"></span>
                                <span class="dot" onclick="currentSlide(3)"></span>
                        </div>

                        <!--Nuevo slider con su título. Misma estructura -->
                        <h2>Otros</h2>
                        <div class="slideshow-container2">
                                <!--Cada imagen individual está contenida en su propio div-->                              
                                <div class="mySlides2 fade">
                                <img src="../img/chapas1.png">
                                </div>
                                        
                                <div class="mySlides2 fade">
                                <img src="../img/chapas2.png">
                                </div>

                                <div class="mySlides2 fade">
                                <img src="../img/mecheros.jpg">
                                </div>

                                <div class="mySlides2 fade">
                                <img src="../img/servilletas.jpg">
                                </div>
                
                                <div class="mySlides2 fade">
                                <img src="../img/vaso1.jpg">
                                </div>
                
                                <div class="mySlides2 fade">
                                <img src="../img/vaso2.jpg">
                                </div>
                        </div>
                                <br>
                                
                                <!--Puntos para pasar las imágenes -->
                                <div class="dot-container">
                                        <!--Se pasa la imagen al pulsar sobre ellos-->
                                        <span class="dot2" onclick="currentSlide2(1)"></span>
                                        <span class="dot2" onclick="currentSlide2(2)"></span>
                                        <span class="dot2" onclick="currentSlide2(3)"></span>
                                </div>

                </div>
        </div>

</div>


<!--Código JavaScript para esta página pues solo se utiliza en ella-->
<script>
        /* Variable para controlar las imágenes que se mostrarán junto con la función de la línea inferior*/
        var slideIndex = 1;
        showSlides(slideIndex);
        
        /* Función para pasar las imágenes*/
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        /* Función para la imagen actual. Esta función se emplea en la clase dots para pasar la imagen con un click*/
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        /* Función principal de control del slider*/
        function showSlides(n) {
          var i;    
          /* Variables que se unen a las clases de html*/      
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          /* Condicional según el cual si el número n es mayor a la longitud de las imágenes, slideIndex= 1
          de modo que nunca se pueda superar el número de imágenes*/
          if (n > slides.length) {slideIndex = 1}   
           /* Condicional contrario al anterior según el cual no se pueda bajat unca de 1*/ 
          if (n < 1) {slideIndex = slides.length}
          /* Bucle que utiliza la variable i creada anteriormente para que las imágenes empiezen todas en
          display none, es decir, que no se visualicen */
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
          }
          /* Bucle para activar los puntos sobre los que clickar para pasar las imágenes*/
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          /* Se muestra la imagen que determine slideIndex, pero también la anterior y las dos siguientes,
          ya que se cambia display a block */ 
          slides[slideIndex-1].style.display = "block"; 
          slides[slideIndex].style.display = "block";
          slides[slideIndex+1].style.display = "block";
          slides[slideIndex+2].style.display = "block"; 
          /*Se activan los puntos, que funcionan como botones*/  
          dots[slideIndex-1].className += " active";
        }


        /*Exactamente misma estructura que el bloque anterior pero cambiando el nombre las variables*/ 
        var Index2 = 1;
         showSlides2(Index2);
                
        function plusSlides2(n) {
        showSlides2(Index2 += n);
        }
                
        function currentSlide2(n) {
        showSlides2(Index2 = n);
        }
                
        function showSlides2(n) {
          var i;
          var slides2 = document.getElementsByClassName("mySlides2");
          var dots2 = document.getElementsByClassName("dot2");
          if (n > slides2.length) {Index2 = 1}    
          if (n < 1) {slideIndex2 = slides2.length}
          for (i = 0; i < slides2.length; i++) {
                slides2[i].style.display = "none";  
           }
          for (i = 0; i < dots2.length; i++) {
                dots2[i].className = dots2[i].className.replace(" active", "");
           }
          slides2[Index2-1].style.display = "block"; 
          slides2[Index2].style.display = "block";
          slides2[Index2+1].style.display = "block";
          slides2[Index2+2].style.display = "block";   
          dots2[Index2-1].className += " active";
                }        
</script>