
<div class="pagina-promocion">
       <div class="slider fade">
		<ul>
                        <li><img src="../img/img1.jpg" alt=""></li>
                        <li><img src="../img/img2.jpg" alt=""></li>
                        <li><img src="../img/img3.jpg" alt=""></li>
		</ul>
        </div>
        
        <div class="promocion">
                <div class="promocion-1">
                        <h1>Carteles Arreu 2018</h1>
                        <div class="carteles">
                                <div class="cartel1">
                                        <div class="texto-cartel1">Cartel ARREU 2018. <br>
                                        Indonesia sábado 7 de julio.</div>
                                        <img src="../img/cartel1.jpg" alt="Cartel 1">
                                </div>
                                
                                <div class="cartel2">
                                        <div class="texto-cartel2">Cartel ARREU 2018. <br>
                                        Japón sábado 14 de julio.</div>
                                        <img src="../img/cartel2.jpg" alt="Cartel 2">
                                </div>
                                
                                <img src="../img/cartel3.jpg" alt="Cartel 3">
                                <img src="../img/cartel4.jpg" alt="Cartel 4">
                        </div>       
                </div>
                <div class="merchandising">
                        <h1>Merchandising</h1>
                        <h2>Tote bags</h2>
                        <div class="bolsas">

                        </div>
                        <h2>Camisetas</h2>
                        <div class="camisetas">

                        </div>
                        <h2>Vasos</h2>
                        <div class="vasos">

                        </div>
                </div>
        </div>

</div>

