/*Etiquetas html con estilo común para todas las páginas. De este modo no repetimos código en cada una de 
las páginas y hay un fácil acceso a estos elementos*/

body {
    background: white;
    font-size: $font-size-body-mobile;
    color: $text-grey;
    font-family: $main-font-family;
}
a {
    text-decoration: none;
}

input, textarea{
    border-radius: 5px;
    border: 1px solid $mid-blue;
    
}

h2{
    text-transform: uppercase;
}
