body {
    background: white;
    font-size: 11px;
    color: $text-grey;
}
a {
    text-decoration: none;
}

input, textarea{
    border-radius: 5px;
    border: 1px solid $mid-blue;
    
}

input {
   
}