// Font families
$main-font-family: 'Montserrat';

// Font sizes
$font-size-header: 18px;
$font-size-header-mobile: 9px;
$font-size-body: 15px;
$font-size-footer: 12px;


// Base colors


// Main components colors


// Responsive
// 667 iphone landscape. 768 ipad portrait
$mobile-portrait-width: 414px;
$mobile-landscape-width: 767px;
$tablet-portrait-width: $mobile-landscape-width + 1;
$tablet-landscape-width: 1024px;

// Forms variables

