/* Variables generales para toda la página*/

// Fuentes
$main-font-family: 'Montserrat';

// Font sizes
$font-size-header: 16px;
$font-size-header-mobile: 8px;
$font-size-body-mobile: 11px;
$font-size-body: 15px;
$font-size-footer: 12px;
$font-size-h3: 18px;
$font-size-h2: 20px;
$font-size-h1: 24px;


//Colores
$red: rgb(203,4,37);
$eggshell: rgb(216,184,187);
$purple-blue: rgb(24,23,37);
$mid-blue: rgb(22,42,51);
$dark-blue: rgb(12,31,35);
$text-grey: rgb(99, 99, 99);
$footer-grey: rgb(80, 80, 80);



// Responsive
// 667 iphone landscape. 768 ipad portrait
$mobile-portrait-width: 414px;
$mobile-landscape-width: 767px;
$tablet-portrait-width: $mobile-landscape-width + 1;
$tablet-landscape-width: 1024px;

